# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [11]:
st = 'Print only the words that start with s in this sentence'

In [12]:
for word in st.split():
    if word.startswith('s'):
        print(word)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [10]:
x = range(10)
for n in x:
    if n % 2 == 0 and n!=0:
        print (n)

2
4
6
8

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [9]:
x = range(50)
newlist = []

for n in x:
    if n % 3 == 0 and n!=0:
        newlist.append(n)

print(newlist)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [19]:
for word in st.split():
    if len(word) % 2 == 0:
        print('even!')

even!
even!
even!
even!
even!
even!

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [22]:
x = range(100)

for n in x:
    if n % 3 == 0 and n!=0:
        print('Fizz')
    if n % 5 == 0 and n!=0:
        print('Buzz')
    if n % 3 == 0 and n % 5 == 0 and n!=0:
        print('FizzBuzz')

    else:
        print(n)

0
1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
Fizz
Buzz
FizzBuzz
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
Fizz
Buzz
FizzBuzz
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
Fizz
Buzz
FizzBuzz
46
47
Fizz
48
49
Buzz
50
Fizz
51
52
53
Fizz
54
Buzz
55
56
Fizz
57
58
59
Fizz
Buzz
FizzBuzz
61
62
Fizz
63
64
Buzz
65
Fizz
66
67
68
Fizz
69
Buzz
70
71
Fizz
72
73
74
Fizz
Buzz
FizzBuzz
76
77
Fizz
78
79
Buzz
80
Fizz
81
82
83
Fizz
84
Buzz
85
86
Fizz
87
88
89
Fizz
Buzz
FizzBuzz
91
92
Fizz
93
94
Buzz
95
Fizz
96
97
98
Fizz
99

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [ ]:
st = 'Create a list of the first letters of every word in this string'

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!